/* body {
  padding: 0;
  margin: 0;
} */
/* html, body, #map {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}  */

.map {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;  
  font-size: 18px;  
}
.my-div-icon {
  color:brown ;
  text-shadow: white 5px 0 20px;
  font-size: 32px;
}
/* .moeacgs-div-span {
  color:blue ;  
  text-shadow: white 5px 0 20px;
  font-size: 12px;  
} */
/* .leaflet-tooltip {
  font-size: 32px;    
} */
/* .my-div-span {
    font-size: 100px; 
} */


/* =======highlight Range Control ======== */
.highlighRange_container {
  /* padding: 15px; */
  max-width: 200px;
}

.highlighRange_container input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  /* overflow:auto; */
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

.highlighRange_container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  /* overflow:auto; */
  /* width: 12px;
  height: 12px; */
  /* background-color: #fff; */
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

.highlighRange_container input[type="range"]#rangeFromSlider {
  position: relative;
  top: +35px;
}

.highlighRange_container input[type="range"]#rangeToSlider {
  -webkit-appearance: none;
  appearance: none; 
  /* display: inline-flex; */
  overflow:hidden;
  position: relative;
  /* top: -31px; */
  top: 3px;
  outline : none;
  background:none;
  pointer-events: none;;
}

.highlighRange_container input[type=range]#rangeToSlider::-moz-range-track {
  background: none;
}

.highlighRange_container input[type=range]#rangeToSlider::-webkit-slider-runnable-track {
  background: none;
}

/* .highlighRange_container input#rangeToSlider {
  z-index: 1;
} */


/** Begin site dialog **/
#dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.24);
	padding-top: 20px;
}

/*
keep focus in dialog
https://css-tricks.com/a-css-approach-to-trap-focus-inside-of-an-element/
 */
#dialog:not(:focus-within) {
	background-color:rgba(0, 0, 0, 0.25);
	transition: background-color 0.01s;
}

#dialog .iframe-container {
	height: 90%;
	border-radius: 5px;
	padding: 10px 10px; 
	background: #fff;
	margin-bottom: 10px;
	position: relative;
}

#dialog iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

.overflowHidden {
	overflow: hidden !important;
}

.close-dialog {
  width: 40px;
  height: 40px;
  top: 10px;
  right: 20px;
  position: absolute;
  font-size: 40px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: #000;
	overflow: hidden;
}

.close-dialog:hover, .close-dialog:focus {
	color: #797979;
}

blockquote {
	font-style: italic;
}

/** End site dialog **/